#map {
    height: 70vh;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.collapsible-body {
    padding: 0;
}

.card {
    margin: 0;
    padding: 0;
}

.brand-logo {
    margin-left: 5px;
}

.card .card-content {
    padding: 0;
}

.card-action {
    padding-top: 0;
}

body {
    background-color: #4CAF50;
    background-size: cover;

}

#topz {
    padding-top: 10px;
}

#info {
    padding-bottom: 5px;
}

#bill_row {
    margin-bottom: 0;
}

#action {
    background-color: initial;
}

#next1_row {
    margin-bottom: 0;
    margin-top: 10px;
}

#table_desc {
    margin-top: 25px;
}

td {
    padding-top: 5px;
    padding-bottom: 5px;
}

.edit_table {
    margin-bottom: 0;
}

.m0{
    margin: 0;
}
.mb0{
    margin-bottom: 0 !important;
}

.mb10 {
    margin-bottom: 10px;
}

.mt10 {
    margin-top: 10px;
}

.mlr0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.pt0{
    padding-top: 0;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
    opacity: 0;
}

.energy_use {
    border-bottom: none !important;
}