<!DOCTYPE html>
<html>
<head>
    <title>Solar System Calculator</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"
          media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
        #map {
            height: 60vh;
        }

        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .collapsible-body {
            padding: 0;
        }

        .card {
            margin: 0;
            padding: 0;
        }

        .brand-logo {
            margin-left: 5px;
        }

        .card .card-content {
            padding: 0;
        }

        .card-action {
            padding-top: 0;
        }

        body {
            background-image: url("../static/header.jpg");
            background-size: cover;
        }

        #topz {
            padding-top: 10px;
        }

        #info {
            padding-bottom: 5px;
        }

        #bill_row {
            margin-bottom: 0;
        }

        #action {
            background-color: initial;
        }

        #next2 {
            margin-left: 20px;
        }
    </style>
</head>

<body>

<nav class="blue darken-4">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo"><i class="material-icons">wb_sunny</i> Calculator</a>

    </div>
</nav>
<div class="container">
    <div class="row white" id="card_map">

        <ul class="collapsible" data-collapsible="accordion">
            <li>
                <div class="collapsible-header active"><i class="material-icons">map</i><b>1. Select your roof from the
                    map</b></div>
                <div class="collapsible-body">
                    <div class="card hoverable">
                        <div class="card-content">
                            <div id="map"></div>
                        </div>
                        <div id="topz" class="card-action">
                            <div id="info"><b>System Capacity:</b> <span id="draw-area">0</span></div>
                            <a id="next1" class="waves-effect waves-light btn blue">Next</a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">payment</i><b>2. Bill datails</b></div>
                <div class="collapsible-body yellow lighten-5">
                    <div class="row" id="bill_row">
                        <div class="col s12 m12">


                            <div class="col s12 m6 card-panel offset-m3 hoverable">
                                <h5>Please type yours bill datails</h5>

                                <form method="post" action="/" id="my_form"
                                      class="col s12 m12 card-panel grey lighten-5">
                                    <div class="row">

                                        <div id="app">
                                            <div class="input-field col s12 m8 offset-m2">
                                                <select2 v-model="periods" ></select2>
                                                <label>Count of billing periods</label>
                                            </div>
                                            <span v-for="(form, index) in period_form">
                                                <h6 class="col s12 m8 offset-m2 green-text">{{index+1}} period</h6>
                <div class="input-field col s6 m4 offset-m2">
                    <start_date_picker v-model="form.start_date"></start_date_picker>
                    <label for="start_date">Start period date</label>
                </div>

            <div class="input-field col s6 m4">
                <end_date_picker v-model="form.end_date"></end_date_picker>
            <label for="end_date">End period date</label>
        </div>
                                                <div class="input-field col s12 m8 offset-m2">
                                                    <tariff-type-select v-model="form.tariff_type" ></tariff-type-select>
                                                <label>Type of tariff</label>
                                            </div>
                </span>
                                        </div>
                                    </div>
                                </form>
                                <div class="row">
                                    <a id="next2" class="waves-effect waves-light btn blue">Next</a></div>

                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
        </ul>


    </div>
</div>

<script type="text/x-template" id="select2-template">
    <select>
        <option value="1" selected>1 period</option>
        <option value="2">2 periods</option>
        <option value="3">3 periods</option>
    </select>
</script>
<script type="text/x-template" id="tariff-type-select-template">
    <select>
        <option value="1" selected>Single Rate</option>
        <option value="2">Time of Use (including "Flexible Pricing")</option>
        <option value="3">Controlled Load</option>
    </select>
</script>

<script type="text/x-template" id="start_date_picker-template">
    <input id="start_date" type="text" class="datepicker">
</script>

<script type="text/x-template" id="end_date_picker-template">
    <input id="end_date" type="text" class="datepicker">
</script>

<script src="vue.js"></script>

<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?v=3.31&libraries=geometry&key=AIzaSyBzZZ3nhjQQzTVaA1RQPNv1Uq-IXCNY_ws"></script>

<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

<script>

    var app;

    Vue.component('start_date_picker', {
        props: ['value'],
        template: '#start_date_picker-template',
        mounted: function () {
            var vm = this;
            $(this.$el).pickadate({
                default: 'now',
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 15, // Creates a dropdown of 15 years to control year,
                today: 'Today',
                clear: 'Clear',
                close: 'Ok',
                closeOnSelect: true // Close upon selecting a date,
            });
            $(this.$el).val(this.value)
                .trigger('change')
                // emit event on change.
                .on('change', function () {
                    vm.$emit('input', this.value);
                })
        },
        watch: {
            value: function (value) {
                // update value
                $(this.$el).val(value);
                }
        }
    });


    Vue.component('end_date_picker', {
        props: ['value'],
        template: '#end_date_picker-template',
        mounted: function () {
            var vm = this;
            $(this.$el).pickadate({
                default: 'now',
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 15, // Creates a dropdown of 15 years to control year,
                today: 'Today',
                clear: 'Clear',
                close: 'Ok',
                closeOnSelect: true // Close upon selecting a date,
            });
            $(this.$el).val(this.value)
                .trigger('change')
                // emit event on change.
                .on('change', function () {
                    vm.$emit('input', this.value);
                })
        },
        watch: {
            value: function (value) {
                // update value
                $(this.$el).val(value);
            }
        }
    });

    Vue.component('select2', {
        template: '#select2-template',
        mounted: function () {
            var vm = this;
            $(this.$el).material_select();
            $(this.$el).val(this.value)
                .trigger('change')
                // emit event on change.
                .on('change', function () {
                    vm.$emit('input', this.value);
                    app.period_form = [];
                    for (var i1 = 0; i1 < app.periods; i1++) {
                        app.period_form.push({
                            type: false,
                            start_date: "1 January, 2017",
                            end_date: "1 February, 2017"
                        })
                    }
                })
        },
        watch: {
            value: function (value) {
                // update value
                $(this.$el).val(value);
            }
        }
    });

    Vue.component('tariff-type-select', {
        template: '#tariff-type-select-template',
        mounted: function () {
            var vm = this;
            $(this.$el).material_select();
            $(this.$el).val(this.value)
                .trigger('change')
                // emit event on change.
                .on('change', function () {
                    vm.$emit('input', this.value);
                })
        },
        watch: {
            value: function (value) {
                // update value
                $(this.$el).val(value);
            }
        }
    });

 app = new Vue({
        el: '#app',
        data: {
            periods: 1,
            period_form:
                [{
                    type: false,
                    start_date: "1 January, 2017",
                    end_date: "1 February, 2017",
                    tariff_type: 1
                }]
        },
        methods: {
            set_periods: function () {
                this.period_form = [];
                for (var i1 = 0; i1 < this.periods; i1++) {
                    this.period_form.push({type: false, start_date: "17 January, 2015", end_date: "17 January, 2015"})
                }
            }
        }
    });


    //$(document).ready(function() {
    //$('.datepicker').pickadate({
    //selectMonths: true, // Creates a dropdown to control month
    //selectYears: 15, // Creates a dropdown of 15 years to control year,
    //today: 'Today',
    //clear: 'Clear',
    //close: 'Ok',
    //closeOnSelect: false // Close upon selecting a date,
    //});

    //$('select').material_select();
    //});

    $("#next1").click(function () {
        $('.collapsible').collapsible('open', 1);
    });

    $(".collapsible-header").click(function (event) {
        event.preventDefault();
    });

    var map;

    // Create a meausure object to store our markers, MVCArrays, lines and polygons
    var measure = {
        mvcLine: new google.maps.MVCArray(),
        mvcPolygon: new google.maps.MVCArray(),
        mvcMarkers: new google.maps.MVCArray(),
        line: null,
        polygon: null
    };


    function CenterControl(controlDiv, map) {

        // Set CSS for the control border.
        var controlUI = document.createElement('div');
        controlUI.style.backgroundColor = '#ffcdd2';
        controlUI.style.border = '2px solid #ffcdd2';
        controlUI.style.borderRadius = '3px';
        controlUI.style.boxShadow = '0 2px 6px rgba(0,0,0,.3)';
        controlUI.style.cursor = 'pointer';
        controlUI.style.marginBottom = '22px';
        controlUI.style.textAlign = 'center';
        controlUI.title = 'Click to clear map';
        controlUI.classList.add('btn');
        controlUI.classList.add('red');
        controlUI.classList.add('waves-effect');
        controlUI.classList.add('waves-light');
        controlDiv.appendChild(controlUI);

        // Set CSS for the control interior.
        var controlText = document.createElement('div');
        controlText.style.color = 'rgb(255,255,255)';
        controlText.style.fontFamily = 'Roboto,Arial,sans-serif';
        controlText.style.fontSize = '16px';
        controlText.style.lineHeight = '38px';
        controlText.style.paddingLeft = '5px';
        controlText.style.paddingRight = '5px';
        controlText.innerHTML = 'Clear Map';
        controlUI.appendChild(controlText);

        // Setup the click event listeners: simply set the map to Chicago.
        controlUI.addEventListener('click', function () {
            measureReset();
        });

    }

    jQuery(document).ready(function () {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: -34.397, lng: 150.644},
            zoom: 21,
            mapTypeId: 'satellite',
            draggableCursor: "crosshair"
        });
        google.maps.event.addListener(map, "click", function (evt) {
            // When the map is clicked, pass the LatLng obect to the measureAdd function
            measureAdd(evt.latLng);
        });

        var centerControlDiv = document.createElement('div');
        var centerControl = new CenterControl(centerControlDiv, map);

        centerControlDiv.index = 1;
        map.controls[google.maps.ControlPosition.BOTTOM_CENTER].push(centerControlDiv);

        //var infoWindow = new google.maps.InfoWindow({map: map});

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };

                //infoWindow.setPosition(pos);
                //infoWindow.setContent('Location found.');
                map.setCenter(pos);
            }, function () {
                handleLocationError(true, infoWindow, map.getCenter());
            });
        } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());
        }
    });

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
            'Error: The Geolocation service failed.' :
            'Error: Your browser doesn\'t support geolocation.');
    }

    function measureAdd(latLng) {
        // if (measure.mvcPolygon.getLength() < 4) { ---------------------------- use this if you want to limit the polygon to four corners
        // Add a draggable marker to the map where the user clicked
        var marker = new google.maps.Marker({
            map: map,
            position: latLng,
            draggable: true,
            raiseOnDrag: false,
            title: "Drag this to change shape",
            icon: new google.maps.MarkerImage("vertex2.png", new google.maps.Size(20, 20), new google.maps.Point(0, 0), new google.maps.Point(9, 9))
        });
        // }

        // Add this LatLng to our line and polygon MVCArrays
        // Objects added to these MVCArrays automatically update the line and polygon shapes on the map
        measure.mvcLine.push(latLng);
        // if (measure.mvcPolygon.getLength() < 4) { ---------------------------- use this if you want to limit the polygon to four corners
        measure.mvcPolygon.push(latLng);
        // }

        // Push this marker to an MVCArray
        // This way later we can loop through the array and remove them when measuring is done
        measure.mvcMarkers.push(marker);

        // Get the index position of the LatLng we just pushed into the MVCArray
        // We'll need this later to update the MVCArray if the user moves the measure vertexes
        var latLngIndex = measure.mvcLine.getLength() - 1;

        // When the user mouses over the measure vertex markers, change shape and color to make it obvious they can be moved
        google.maps.event.addListener(marker, "mouseover", function () {
            marker.setIcon(new google.maps.MarkerImage("vertex_hover4.png", new google.maps.Size(20, 20), new google.maps.Point(0, 0), new google.maps.Point(9, 9)));
        });

        // Change back to the default marker when the user mouses out
        google.maps.event.addListener(marker, "mouseout", function () {
            marker.setIcon(new google.maps.MarkerImage("vertex2.png", new google.maps.Size(20, 20), new google.maps.Point(0, 0), new google.maps.Point(9, 9)));
        });

        // When the measure vertex markers are dragged, update the geometry of the line and polygon by resetting the
        //     LatLng at this position
        google.maps.event.addListener(marker, "drag", function (evt) {
            measure.mvcLine.setAt(latLngIndex, evt.latLng);
            measure.mvcPolygon.setAt(latLngIndex, evt.latLng);
        });

        // When dragging has ended and there is more than one vertex, measure length, area.
        google.maps.event.addListener(marker, "dragend", function () {
            if (measure.mvcLine.getLength() > 1) {
                measureCalc();
            }
        });

        // // If there is more than one vertex on the line
        if (measure.mvcLine.getLength() > 1) {

            //     // If the line hasn't been created yet
            if (!measure.line) {

                //         // Create the line (google.maps.Polyline)
                measure.line = new google.maps.Polyline({
                    map: map,
                    clickable: false,
                    strokeColor: "#FF0000",
                    strokeOpacity: 1,
                    strokeWeight: 2,
                    path: measure.mvcLine
                });

            }
        }

        // If there is more than two vertexes for a polygon
        if (measure.mvcPolygon.getLength() > 2) {

            // If the polygon hasn't been created yet
            if (!measure.polygon) {

                // Create the polygon (google.maps.Polygon)
                measure.polygon = new google.maps.Polygon({
                    clickable: false,
                    map: map,
                    fillOpacity: 0.2,
                    strokeColor: "#FF0000",
                    strokeOpacity: 0.6,
                    strokeWeight: 2,
                    paths: measure.mvcPolygon
                });

            }

        }

        // }

        // If there's more than one vertex, measure length, area.
        if (measure.mvcPolygon.getLength() > 1) {
            measureCalc();
        }

    }

    function measureCalc() {
        // Use the Google Maps geometry library to measure the length of the line
        // var length = google.maps.geometry.spherical.computeLength(measure.line.getPath());
        // jQuery("#span-length").text(length.toFixed(1))

        // If we have a polygon (>2 vertexes in the mvcPolygon MVCArray)
        if (measure.mvcPolygon.getLength() > 2) {
            // Use the Google Maps geometry library to measure the area of the polygon
            var moduleTypeFactor = .167;

            var moduleType = $("#module_type").val();
            if ((moduleType === undefined) || (moduleType == "Standard")) {
                moduleTypeFactor = .167;
            } else if (moduleType == "Premium") {
                moduleTypeFactor = .211;
            } else if (moduleType == "Thin-Film") {
                moduleTypeFactor = .10;
            }

            var area = google.maps.geometry.spherical.computeArea(measure.polygon.getPath());
            var areaval = area.toFixed(1) * 1000 * moduleTypeFactor * 0.001;
            if (areaval > 500000) {
                $("#draw-area").text("ERROR: Area too large, set to max: 500,000 kWdc.");
                $("#areaval").val(500000);
            } else if (areaval < 0.05) {
                $("#draw-area").text("ERROR: Area too small, set to min: 0.05 kWdc.");
                $("#areaval").val(0.05);
            } else {
                $("#draw-area").html(areaval.toFixed(1) + " kWdc  (" + area.toFixed(0) + " m<sup>2</sup>)");
                $("#areaval").val(areaval.toFixed(1));
            }
        }

    }

    function measureReset() {

        // If we have a polygon or a line, remove them from the map and set null
        if (measure.polygon) {
            measure.polygon.setMap(null);
            measure.polygon = null;
        }
        if (measure.line) {
            measure.line.setMap(null);
            measure.line = null
        }

        // Empty the mvcLine and mvcPolygon MVCArrays
        measure.mvcLine.clear();
        measure.mvcPolygon.clear();

        // Loop through the markers MVCArray and remove each from the map, then empty it
        measure.mvcMarkers.forEach(function (elem, index) {
            elem.setMap(null);
        });
        measure.mvcMarkers.clear();

        //map.setZoom(21);

        jQuery("#span-length,#span-area,#draw-area").text(0);

    }
</script>
</body>
</html>