<!DOCTYPE html>
<html>
<head>
    <title>Solar System Calculator</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
        #map {
            height: 70vh;
        }

        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .collapsible-body {
            padding: 0;
        }

        .card {
            margin: 0;
            padding: 0;
        }

        .brand-logo {
            margin-left: 5px;
        }

        .card .card-content {
            padding: 0;
        }

        .card-action {
            padding-top: 0;
        }

        body {
            background-image: url("../static/header.jpg");
            background-size: cover;
        }

        #topz {
            padding-top: 10px;
        }

        #info {
            padding-bottom: 5px;
        }

        #bill_row {
            margin-bottom: 0;
        }

        #action {
            background-color: initial;
        }

        #next1_row {
            margin-bottom: 0;
            margin-top: 10px;
        }

        #table_desc {
            margin-top: 25px;
        }

        td {
            padding-top: 5px;
            padding-bottom: 5px;
        }

        .edit_table {
            margin-bottom: 0;
        }

        .mt10 {
            margin-top: 10px;
        }

    </style>
</head>

<body>

<nav class="blue darken-4">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo"><i class="material-icons">wb_sunny</i> Calculator</a>

    </div>
</nav>
<div class="container">
    <div class="row" id="card_map">
        <div id="app">
            <ul class="collapsible" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header active"><i class="material-icons green-text">map</i><b>1. Select your
                        roof from
                        the
                        map</b></div>
                    <div class="collapsible-body">
                        <div class="card hoverable">
                            <div class="card-content">
                                <div id="map"></div>
                            </div>
                            <div id="topz" class="card-action">
                                <div id="info"><b>System area:</b> <span id="draw-area">0</span>
                                    <div><b>Explore the potential solar capacity and savings for:</b> [[address]]</div>

                                </div>

                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons blue-text">payment</i><b>2. How much you
                        now pay for
                        electricity?</b></div>
                    <div class="collapsible-body yellow lighten-5">
                        <div class="row" id="bill_row">
                            <div class="col s12 m12">


                                <form method="post" action="/" id="my_form"
                                      class="col s12 m10 offset-m1 card-panel">
                                    <p class="grey-text">* Required fields</p>
                                    <h5 class="col offset-m2 m8 indigo-text darken-4"><b>Your current electricity
                                        bills:</b>
                                    </h5>
                                    <div class="row">
                                        <p class="col m8 offset-m2 yellow lighten-4 card-panel  black-text">It is
                                            recommended to input data for each mounth of the year. If some days of
                                            the mounth are mising then
                                            <br>
                                            <span class="center-align"> <b>yearly bill</b> = <b>total sum of $</b> / <b>number of
                                            inputed days</b> * <b>365</b></span></p>

                                        <table class="col m10 offset-m1 centered highlight">
                                            <tbody>
                                            <tr v-for="(form, index) in period_form">
                                                <td><b> * [[index+1]] billing period</b></td>
                                                <td>
                                                    <div class="input-field">
                                                        <input id="amount1" v-model="form.amount" type="text"
                                                               class="validate center-align">
                                                        <label for="amount1">AUD/period</label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="input-field">
                                                        <date_picker v-model="form.start_date">
                                                        </date_picker>
                                                        <label for="date">Start date</label></div>
                                                </td>
                                                <td>
                                                    <div class="input-field">
                                                        <date_picker v-model="form.end_date">
                                                        </date_picker>
                                                        <label for="date">End date</label></div>
                                                </td>

                                                <td><a @click="delete_period(index)"
                                                       class="btn-floating waves-effect waves-light red tooltipped"
                                                       :disabled="last_period"
                                                       data-position="right" data-delay="50"
                                                       data-tooltip="Delete period"
                                                       style="position:relative;top:0;right:0;">
                                                    <i class="material-icons">close</i></a></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td><a v-on:click="add_period"
                                                       class="btn-floating waves-effect waves-light green tooltipped"
                                                       data-position="right" data-delay="50"
                                                       data-tooltip="Add period"><i
                                                        class="material-icons">add</i></a></td>

                                            </tr>
                                            <tr>
                                                <td><b>* Supply charge</b></td>
                                                <td colspan="3">
                                                    <div class="input-field">
                                                        <input id="supply_charge" v-model="supply_charge"
                                                               type="text"
                                                               class="validate center-align">
                                                        <label for="supply_charge">AUD/day</label>
                                                    </div>
                                                </td>

                                            </tr>
                                            </tbody>
                                        </table>
                                        <div class="row">
                                            <table class="col m10 offset-m1 centered highlight">
                                                <tbody>

                                                <tr>
                                                    <td><h5><b class="center-align indigo-text darken-4">Tariff:</b>
                                                    </h5></td>
                                                </tr>
                                                <tr>
                                                    <td><b>* Peak (or Single Rate)</b></td>
                                                    <td>
                                                        <div class="input-field">
                                                            <input id="supply_charge" v-model="peak" type="text"
                                                                   class="validate center-align">
                                                            <label for="supply_charge">AUD</label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="input-field">
                                                            <time_picker v-model="peak_start_time"></time_picker>
                                                            <label for="date">Start time</label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="input-field">
                                                            <time_picker v-model="peak_end_time"></time_picker>
                                                            <label for="date">End time</label>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><b>Off-Peak</b></td>
                                                    <td>
                                                        <div class="input-field">
                                                            <input id="supply_charge" v-model="off_peak" type="text"
                                                                   class="validate center-align">
                                                            <label for="supply_charge">AUD</label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="input-field">
                                                            <time_picker v-model="off_peak_start_time"></time_picker>
                                                            <label for="date">Start time</label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="input-field">
                                                            <time_picker v-model="off_peak_end_time"></time_picker>
                                                            <label for="date">End time</label>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><b>Shoulder</b></td>
                                                    <td colspan="3">
                                                        <div class="input-field">
                                                            <input id="supply_charge" v-model="shoulder" type="text"
                                                                   class="validate center-align">
                                                            <label for="supply_charge">AUD</label>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><b>* Feed-In</b></td>
                                                    <td colspan="3">
                                                        <div class="input-field">
                                                            <input id="supply_charge" v-model="feed_in" type="text"
                                                                   class="validate center-align">
                                                            <label for="supply_charge">AUD</label>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><b>Energy use during 9am-3pm</b></td>
                                                    <td colspan="3">
                                                        <div class="input-field">
                                                            <input id="energy_use" v-model="energy_use" type="text"
                                                                   class="validate center-align">
                                                            <label for="energy_use">%</label>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><b>Energy use during Off-Peak</b></td>
                                                    <td colspan="3">
                                                        <div class="input-field">
                                                            <input id="energy_use_off_peak"
                                                                   v-model="energy_use_off_peak" type="text"
                                                                   class="validate center-align">
                                                            <label for="energy_use_off_peak">%</label>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><b>Energy use during Shoulder</b></td>
                                                    <td colspan="3">
                                                        <div class="input-field">
                                                            <input id="energy_use_shoulder"
                                                                   v-model="energy_use_shoulder" type="text"
                                                                   class="validate center-align">
                                                            <label for="energy_use_shoulder">%</label>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><b>Electricity Cost Increase</b></td>
                                                    <td colspan="3">
                                                        <div class="input-field">
                                                            <input id="electricity_cost_increase"
                                                                   v-model="electricity_cost_increase" type="text"
                                                                   class="validate center-align">
                                                            <label for="electricity_cost_increase">%</label>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>


                                    </div>
                                    <div class="row">
                                        <a id="next2"
                                           class="waves-effect waves-light btn blue col s4 m2 offset-m5 offset-s4">Calculate</a>
                                    </div>
                                </form>


                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons red-text">whatshot</i><b>3. The
                        effectiveness of the
                        solar system and how much you can save:</b></div>

                    <div class="collapsible-body yellow lighten-5">
                        <div class="row">
                            <div class="col s12 m12">
                                <div class="card col m5">
                                    <div class="col m12">
                                        <div class="card-image col l6 hoverable mt10">
                                            <img :src="map_image">

                                        </div>
                                        <div class="col l6">
                                            <table class="bordered highlight  col m12 s12 centered z-depth-2 hoverable mt10">
                                                <thead class="indigo darken-4 white-text">
                                                <tr>
                                                    <th>Latitude, Longitude</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>[[latitude]], [[longitude]]</td>
                                                </tr>
                                                </tbody>

                                                <thead class="indigo darken-4 white-text">
                                                <tr>
                                                    <th>Address</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>[[address]]</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>


                                        <table class="bordered highlight  col m12 s12 centered z-depth-2 mt10">
                                            <thead class="indigo darken-4 white-text">
                                            <tr>
                                                <th colspan="2">Solar System</th>
                                            </tr>
                                            </thead>

                                            <tbody>
                                            <tr>
                                                <td>System area, (<b>m<sup>2</sup></b>):</td>
                                                <td>
                                                    <div class="input-field">
                                                        <input id="system_area" v-model="system_area" type="text"
                                                               class="validate center-align edit_table">
                                                        <label for="system_area"><b>
                                                            m<sup>2</sup></b></label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Panel efficiency:</td>
                                                <td>
                                                    <div class="switch">
                                                        <label>
                                                            Standart
                                                            <input v-model="panel_efficiency" type="checkbox">
                                                            <span class="lever"></span>
                                                            Premium
                                                        </label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Energy use during 9am-3pm:</td>
                                                <td>
                                                    <p class="range-field">
                                                        <input v-model="energy_use" type="range" id="energy_use" min="0"
                                                               max="100"/>
                                                        <label for="energy_use"><b>
                                                            [[energy_use]] %</b></label>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Energy use during Off-Peak:</td>
                                                <td>
                                                    <p class="range-field">
                                                        <input v-model="energy_use_off_peak" type="range"
                                                               id="energy_use_off_peak" min="0" max="100"/>
                                                        <label for="energy_use_off_peak"><b>
                                                            [[energy_use_off_peak]] %</b></label>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Energy use during Shoulder:</td>
                                                <td>
                                                    <p class="range-field">
                                                        <input v-model="energy_use_shoulder" type="range"
                                                               id="energy_use_shoulder" min="0" max="100"/>
                                                        <label for="energy_use_shoulder"><b>
                                                            [[energy_use_shoulder]] %</b></label>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Electricity Cost Increase, <b>%/Year</b>:</td>
                                                <td>
                                                    <p class="range-field">
                                                        <input v-model="electricity_cost_increase" type="range"
                                                               id="electricity_cost_increase" min="0" max="100"/>
                                                        <label for="electricity_cost_increase"><b>
                                                            [[electricity_cost_increase]] %</b></label>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>System capacity:</td>
                                                <td><b>[[system_capacity]]</b> kW</td>
                                            </tr>
                                            <tr>
                                                <td>Cost of genereted power
                                                    for 10 years <br>of system use:
                                                </td>
                                                <td class="black-text"><b>[[energy_cost10|toCurrency]]</b> AUD/kWh
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Cost of genereted power
                                                    for design period<br> of 25 years:
                                                </td>
                                                <td class="black-text"><b>[[energy_cost|toCurrency]]</b> AUD/kWh
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Bill without Solar PV System:
                                                </td>
                                                <td class="black-text"><b>[[yearly_bill_without_solar|toCurrency]]</b>
                                                    AUD/Year
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Bill with Solar PV System:
                                                </td>
                                                <td class="black-text"><b>[[yearly_bill_with_solar|toCurrency]]</b>
                                                    AUD/Year
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Income generated by the system:
                                                </td>
                                                <td><b class="green-text">[[system_income|toCurrency]]</b> AUD/Year
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Return on Investment:
                                                </td>
                                                <td class="black-text"><b>[[return_on_investment.toFixed(2)]]</b> Years
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Feed-In Energy to the Grid:
                                                </td>
                                                <td class="black-text"><b>[[feed_in_energy_to_grid.toFixed(2)]]</b> %
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Out of pocket cost:
                                                </td>
                                                <td><b class="red-text">[[system_price|toCurrency]]</b> AUD
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table class="bordered highlight  col m12 s12 centered z-depth-2 mt10">
                                            <thead class="indigo darken-4 white-text">
                                            <tr>
                                                <th colspan="3">Battery Storage</th>
                                            </tr>
                                            </thead>

                                            <tbody>
                                            <tr>
                                                <td rowspan="3">Optimal battery sizes:</td>
                                                <td class="grey-text">Minimal</td>
                                                <td>
                                                    <b>[[battery_size1.toFixed(1)]]</b> kWh
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="grey-text">Medium</td>
                                                <td>
                                                    <b>[[battery_size2.toFixed(1)]]</b> kWh
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="grey-text">Maximal</td>
                                                <td>
                                                    <b>[[battery_size3.toFixed(1)]]</b> kWh
                                                </td>
                                            </tr>
                                            <tr>
                                                <td rowspan="3">Battery prices:</td>
                                                <td class="grey-text">Minimal</td>
                                                <td>
                                                    <b>[[battery_price1|toCurrency]]</b> AUD
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="grey-text">Medium</td>
                                                <td>
                                                    <b>[[battery_price2|toCurrency]]</b> AUD
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="grey-text">Maximal</td>
                                                <td>
                                                    <b>[[battery_price3|toCurrency]]</b> AUD
                                                </td>
                                            </tr>
                                            <tr>
                                                <td rowspan="3">Bill with Solar PV System & Battery:
                                                </td>
                                                <td class="grey-text">Minimal</td>
                                                <td>
                                                    <b>[[bill_with_pv_battery1|toCurrency]]</b> AUD/Year
                                                </td>

                                            </tr>
                                            <tr>
                                                <td class="grey-text">Medium</td>
                                                <td>
                                                    <b>[[bill_with_pv_battery2|toCurrency]]</b> AUD/Year
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="grey-text">Maximal</td>
                                                <td>
                                                    <b>[[bill_with_pv_battery3|toCurrency]]</b> AUD/Year
                                                </td>
                                            </tr>
                                            <tr>
                                                <td rowspan="3">Income generated by the system & Battery:
                                                </td>
                                                <td class="grey-text">Minimal</td>
                                                <td>
                                                    <b>[[income_with_battery1|toCurrency]]</b> AUD/Year
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="grey-text">Medium</td>
                                                <td>
                                                    <b>[[income_with_battery2|toCurrency]]</b> AUD/Year
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="grey-text">Maximal</td>
                                                <td>
                                                    <b>[[income_with_battery3|toCurrency]]</b> AUD/Year
                                                </td>
                                            </tr>
                                            <tr>
                                                <td rowspan="3">Return on Investment system & Battery:
                                                </td>
                                                <td class="grey-text">Minimal</td>
                                                <td>
                                                    <b>[[return_on_battery1.toFixed(2)]]</b> Years
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="grey-text">Medium</td>
                                                <td>
                                                    <b>[[return_on_battery2.toFixed(2)]]</b> Years
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="grey-text">Maximal</td>
                                                <td>
                                                    <b>[[return_on_battery3.toFixed(2)]]</b> Years
                                                </td>
                                            </tr>
                                            <tr>
                                                <td rowspan="3">Feed-In Energy to the Grid for system & Battery:
                                                </td>
                                                <td class="grey-text">Minimal</td>
                                                <td>
                                                    <b>[[feed_in_batary1.toFixed(2)]]</b> %
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="grey-text">Medium</td>
                                                <td>
                                                    <b>[[feed_in_batary2.toFixed(2)]]</b> %
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="grey-text">Maximal</td>
                                                <td>
                                                    <b>[[feed_in_batary3.toFixed(2)]]</b> %
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="col s12 m7 card">
                                    <div id="app1">
                                        <chartjs-bar :labels="labels" :data="data1" :bind="true"
                                                     :datalabel="'Power generated,  kWh'"
                                                     :backgroundcolor="'#1b5e20'"></chartjs-bar>
                                    </div>


                                    <div class="col m12">
                                        <h6 id="table_desc">Solar activity, temperature, potential generated power for
                                            <b>[[address]]:</b></h6>
                                        <table class="highligh striped centered z-depth-2">
                                            <thead class="indigo darken-4 white-text ">
                                            <tr>
                                                <th>Month</th>
                                                <th>Solar Resource</th>
                                                <th>Temperature (C')</th>
                                                <th>Power (kWh)</th>
                                            </tr>
                                            </thead>

                                            <tbody>
                                            <tr v-for="line in table_data">
                                                <td class="td_month"><b>[[line.month]]</b></td>
                                                <td class="td_month">[[line.solar]]</td>
                                                <td class="td_month">[[line.temp]] C'</td>
                                                <td class="td_month"><b>[[line.power.toLocaleString()]]</b> kWh</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<script type="text/x-template" id="select2-template">
    <select>
        <slot></slot>
    </select>
</script>

<script type="text/x-template" id="date_picker-template">
    <input id="date" type="text" class="datepicker validate">
</script>

<script type="text/x-template" id="time_picker-template">
    <input id="time" type="text" class="timepicker validate">
</script>


<script src="/static/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.js"></script>
<script src="/static/vue-charts.min.js"></script>

<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?v=3.31&libraries=geometry&key=AIzaSyBzZZ3nhjQQzTVaA1RQPNv1Uq-IXCNY_ws"></script>

<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script type="text/javascript">
    var app;
</script>
<script type="text/javascript" src="/static/map.js?1075"></script>
<script type="text/javascript" src="/static/functions.js?40545"></script>
</body>
</html>