<!DOCTYPE html>
<html>
<head>
    <title>Solar System Calculator</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"
          media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>

<div id="app">
    {{selected}}
    <div class="input-field col s12 m6 offset-m3">
        <select2 v-model="selected"></select2>
        <label>Number of billing periods</label>
    </div>
</div>

<script type="text/x-template" id="select2-template">
    <select>
        <option value="1" selected>1 period</option>
        <option value="2">2 periods</option>
        <option value="3">3 periods</option>
    </select>
</script>

<script src="vue.js"></script>

<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?v=3.31&libraries=geometry&key=AIzaSyBzZZ3nhjQQzTVaA1RQPNv1Uq-IXCNY_ws"></script>

<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script>


    Vue.component('select2', {
        template: '#select2-template',
        mounted: function () {
            var vm = this;
            $(this.$el).material_select();
            $(this.$el).val(this.value)
                .trigger('change')
                // emit event on change.
                .on('change', function () {
                    vm.$emit('input', this.value);
                })
        },
        watch: {
            value: function (value) {
                // update value
                $(this.$el).val(value);

            }
        }
    });

    new Vue({
        el: '#app',
        data: {
            selected: 1
        }
    });
</script>
</body>
</html>
